src/statemachine/pipeline.asl.json
{
  "Comment": "Document processing pipeline with parallel batch support for large documents",
  "StartAt": "ExtractDocumentId",
  "States": {
    "ExtractDocumentId": {
      "Type": "Pass",
      "Comment": "Extract document_id from S3 key (format: input/document_id/filename)",
      "Parameters": {
        "document_id.$": "States.ArrayGetItem(States.StringSplit($.document_id, '/'), 1)",
        "input_s3_uri.$": "$.input_s3_uri",
        "output_s3_prefix.$": "$.output_s3_prefix"
      },
      "Next": "GetPageInfo"
    },

    "GetPageInfo": {
      "Type": "Task",
      "Resource": "${GetPageInfoFunctionArn}",
      "Comment": "Count pages and determine processing strategy",
      "TimeoutSeconds": 120,
      "ResultPath": "$.pageInfo",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "Lambda.ServiceException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ],
      "Next": "CheckBatchingRequired"
    },

    "CheckBatchingRequired": {
      "Type": "Choice",
      "Comment": "Route to SQS batch queue or single-pass processing",
      "Choices": [
        {
          "Variable": "$.pageInfo.needs_batching",
          "BooleanEquals": true,
          "Next": "EnqueueBatches"
        }
      ],
      "Default": "ProcessDocumentSingle"
    },

    "ProcessDocumentSingle": {
      "Type": "Task",
      "Resource": "${ProcessDocumentFunctionArn}",
      "Comment": "Process small documents in single pass",
      "TimeoutSeconds": 960,
      "ResultPath": "$.processResult",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ],
      "Next": "IngestToKnowledgeBase"
    },

    "EnqueueBatches": {
      "Type": "Task",
      "Resource": "${EnqueueBatchesFunctionArn}",
      "Comment": "Queue batches to SQS for rate-limited processing. Step Functions exits here; CombinePages and IngestToKB are triggered async by last batch processor.",
      "TimeoutSeconds": 120,
      "Parameters": {
        "document_id.$": "$.document_id",
        "input_s3_uri.$": "$.input_s3_uri",
        "output_s3_prefix.$": "$.output_s3_prefix",
        "total_pages.$": "$.pageInfo.total_pages",
        "batches.$": "$.pageInfo.batches"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "Lambda.ServiceException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ],
      "Next": "BatchesEnqueued"
    },

    "BatchesEnqueued": {
      "Type": "Pass",
      "Comment": "Batches sent to SQS. Processing continues asynchronously via BatchProcessor Lambda.",
      "Parameters": {
        "document_id.$": "$.document_id",
        "status": "batches_enqueued",
        "message": "Document batches queued for processing. CombinePages and IngestToKB will run when all batches complete."
      },
      "End": true
    },

    "IngestToKnowledgeBase": {
      "Type": "Task",
      "Resource": "${IngestToKBFunctionArn}",
      "Comment": "Ingest document into Knowledge Base",
      "TimeoutSeconds": 300,
      "Parameters": {
        "document_id.$": "$.document_id",
        "output_s3_uri.$": "$.processResult.output_s3_uri"
      },
      "ResultPath": "$.ingestionResult",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ],
      "Next": "MarkAsCompleted"
    },

    "MarkAsCompleted": {
      "Type": "Pass",
      "Comment": "Document successfully processed and completed",
      "Parameters": {
        "document_id.$": "$.document_id",
        "status": "completed",
        "message": "Document successfully processed and ingested into Knowledge Base"
      },
      "End": true
    },

    "ProcessingFailed": {
      "Type": "Fail",
      "Error": "ProcessingError",
      "Cause": "Document processing pipeline failed"
    }
  }
}
