src/statemachine/reindex.asl.json
{
  "Comment": "KB Reindex workflow - extract metadata, create new KB, sync, swap",
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Task",
      "Resource": "${ReindexKBFunctionArn}",
      "Comment": "Acquire lock, reset key counts, count documents",
      "Parameters": {
        "action": "init"
      },
      "ResultPath": "$",
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "Lambda.ServiceException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PrepareCleanup"
        }
      ],
      "Next": "ProcessBatch"
    },

    "ProcessBatch": {
      "Type": "Task",
      "Resource": "${ReindexKBFunctionArn}",
      "Comment": "Extract metadata and write sidecars for a batch of documents",
      "TimeoutSeconds": 900,
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PrepareCleanup"
        }
      ],
      "Next": "CheckBatchComplete"
    },

    "CheckBatchComplete": {
      "Type": "Choice",
      "Comment": "Check if more batches to process or ready to create KB",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "process_batch",
          "Next": "ProcessBatch"
        },
        {
          "Variable": "$.action",
          "StringEquals": "create_kb",
          "Next": "CreateKB"
        }
      ],
      "Default": "CreateKB"
    },

    "CreateKB": {
      "Type": "Task",
      "Resource": "${ReindexKBFunctionArn}",
      "Comment": "Create new KB and start baseline sync with fresh sidecars",
      "TimeoutSeconds": 600,
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "Lambda.ServiceException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PrepareCleanup"
        }
      ],
      "Next": "WaitForSync"
    },

    "WaitForSync": {
      "Type": "Wait",
      "Comment": "Wait before checking sync status",
      "Seconds": 30,
      "Next": "CheckSyncStatus"
    },

    "CheckSyncStatus": {
      "Type": "Task",
      "Resource": "${ReindexKBFunctionArn}",
      "Comment": "Check if baseline ingestion sync has completed",
      "TimeoutSeconds": 60,
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PrepareCleanup"
        }
      ],
      "Next": "IsSyncComplete"
    },

    "IsSyncComplete": {
      "Type": "Choice",
      "Comment": "Route based on sync status",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "finalize",
          "Next": "Finalize"
        }
      ],
      "Default": "WaitForSync"
    },

    "Finalize": {
      "Type": "Task",
      "Resource": "${ReindexKBFunctionArn}",
      "Comment": "Swap config to new KB, delete old KB, release lock",
      "TimeoutSeconds": 300,
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "Lambda.ServiceException"],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FinalizeError"
        }
      ],
      "Next": "ReindexComplete"
    },

    "ReindexComplete": {
      "Type": "Pass",
      "Comment": "Reindex completed successfully",
      "Parameters": {
        "status": "COMPLETED",
        "new_kb_id.$": "$.new_kb_id",
        "total_documents.$": "$.total_documents",
        "processed_count.$": "$.processed_count",
        "error_count.$": "$.error_count",
        "message": "Knowledge Base reindex completed successfully"
      },
      "End": true
    },

    "PrepareCleanup": {
      "Type": "Pass",
      "Comment": "Prepare cleanup payload with safe defaults",
      "Parameters": {
        "action": "cleanup_failed",
        "state.$": "$"
      },
      "Next": "CleanupFailed"
    },

    "CleanupFailed": {
      "Type": "Task",
      "Resource": "${ReindexKBFunctionArn}",
      "Comment": "Clean up partial KB on failure",
      "TimeoutSeconds": 300,
      "ResultPath": "$.cleanup_result",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": null,
          "Next": "ReindexFailed"
        }
      ],
      "Next": "ReindexFailed"
    },

    "FinalizeError": {
      "Type": "Pass",
      "Comment": "Handle finalize error - KB is already created, don't delete it",
      "Parameters": {
        "status": "FAILED",
        "new_kb_id.$": "$.new_kb_id",
        "error.$": "$.error",
        "message": "Reindex finalize failed but new KB exists"
      },
      "Next": "ReindexFailed"
    },

    "ReindexFailed": {
      "Type": "Fail",
      "Error": "ReindexFailed",
      "Cause": "Knowledge Base reindex operation failed"
    }
  }
}
