src/statemachine/reindex.asl.json
{
  "Comment": "KB Reindex workflow - creates new KB, re-ingests documents, deletes old KB",
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Task",
      "Resource": "${ReindexKBFunctionArn}",
      "Comment": "Count documents, create new KB, prepare for processing",
      "Parameters": {
        "action": "init"
      },
      "ResultPath": "$",
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "Lambda.ServiceException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "CleanupFailed"
        }
      ],
      "Next": "ProcessBatch"
    },

    "ProcessBatch": {
      "Type": "Task",
      "Resource": "${ReindexKBFunctionArn}",
      "Comment": "Process a batch of documents",
      "TimeoutSeconds": 900,
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "CleanupFailed"
        }
      ],
      "Next": "CheckBatchComplete"
    },

    "CheckBatchComplete": {
      "Type": "Choice",
      "Comment": "Check if more batches to process or ready to finalize",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "process_batch",
          "Next": "ProcessBatch"
        },
        {
          "Variable": "$.action",
          "StringEquals": "finalize",
          "Next": "Finalize"
        }
      ],
      "Default": "Finalize"
    },

    "Finalize": {
      "Type": "Task",
      "Resource": "${ReindexKBFunctionArn}",
      "Comment": "Delete old KB and complete reindex",
      "TimeoutSeconds": 600,
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "Lambda.ServiceException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "FinalizeError"
        }
      ],
      "Next": "ReindexComplete"
    },

    "ReindexComplete": {
      "Type": "Pass",
      "Comment": "Reindex completed successfully",
      "Parameters": {
        "status": "COMPLETED",
        "new_kb_id.$": "$.new_kb_id",
        "total_documents.$": "$.total_documents",
        "processed_count.$": "$.processed_count",
        "error_count.$": "$.error_count",
        "message": "Knowledge Base reindex completed successfully"
      },
      "End": true
    },

    "CleanupFailed": {
      "Type": "Task",
      "Resource": "${ReindexKBFunctionArn}",
      "Comment": "Clean up partial KB on failure",
      "Parameters": {
        "action": "cleanup_failed",
        "new_kb_id.$": "$.new_kb_id",
        "error_message.$": "States.Format('Reindex failed: {}', $.error.Cause)"
      },
      "TimeoutSeconds": 300,
      "ResultPath": "$.cleanup_result",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Next": "ReindexFailed"
    },

    "FinalizeError": {
      "Type": "Pass",
      "Comment": "Handle finalize error - KB is already created, don't delete it",
      "Parameters": {
        "status": "FAILED",
        "new_kb_id.$": "$.new_kb_id",
        "error.$": "$.error",
        "message": "Reindex finalize failed but new KB exists"
      },
      "Next": "ReindexFailed"
    },

    "ReindexFailed": {
      "Type": "Fail",
      "Error": "ReindexFailed",
      "Cause": "Knowledge Base reindex operation failed"
    }
  }
}
